In [2]:
## imports 
import pandas as pd
import numpy as np
from wrangle import *
import matplotlib.pyplot as plt

# modeling methods
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

import warnings
warnings.filterwarnings("ignore")

In [32]:
schema='zillow'
date="'"+'%'+'2017'+'%'+"'"
date='%'+'2017'+'%'
query=''' 
select 
transactiondate
from
predictions_2017
where 



'''

 
info1 = pd.read_sql(query, get_db_url(schema))

In [33]:



info1

      transactiondate
0          2017-01-01
1          2017-01-01
2          2017-01-01
3          2017-01-01
4          2017-01-01
...               ...
77608      2017-09-20
77609      2017-09-20
77610      2017-09-21
77611      2017-09-21
77612      2017-09-25

[77613 rows x 1 columns]

In [28]:
info1[info1.transactiondate.any(datestoinclude.values)]

TypeError: unhashable type: 'numpy.ndarray'

In [11]:
info1

      transactiondate
0          2017-01-01
1          2017-01-01
2          2017-01-01
3          2017-01-01
4          2017-01-01
...               ...
77609      2017-09-20
77610      2017-09-21
77611      2017-09-21
77612      2017-09-25
77613      2018-05-25

[77614 rows x 1 columns]

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10',
               ...
               '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25',
               '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29',
               '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [14]:
df=prep_zillow_2017()

Number of observations removed: 18684
This is our percent change after removing all the outliers and then the nulls:
 -33.33%
mean kurt:
-0.3094772441000198

None

In [15]:
df

,id,bedroomcnt,bathroomcnt,area,taxvaluedollarcnt,yearbuilt,fips,logerror,decade,bathdividesbed,beddividestaxval,bathdividestaxval,areadividestaxval,bedbathbeyonddividestaxval,beddividesarea,bathdividesarea,bathplusbathdividesarea,bathplusbathdividesarea_dividestavval
7,33,3.0,2.0,2077.0,646760.0,1926,6037,-0.040807,1920,1.500000,215586.666667,323380.000000,311.391430,310.643612,692.333333,1038.500000,415.400000,1556.957150
18,110,3.0,1.0,1244.0,169471.0,1950,6037,0.042412,1950,3.000000,56490.333333,169471.000000,136.230707,135.794071,414.666667,1244.000000,311.000000,544.922830
19,111,3.0,2.0,1300.0,233266.0,1950,6037,-0.000908,1950,1.500000,77755.333333,116633.000000,179.435385,178.747893,433.333333,650.000000,260.000000,897.176923
40,296,2.0,1.0,725.0,37548.0,1953,6037,0.032817,1950,2.000000,18774.000000,37548.000000,51.790345,51.576923,362.500000,725.000000,241.666667,155.371034
41,298,4.0,2.0,2143.0,209415.0,1984,6037,0.021627,1980,2.000000,52353.750000,104707.500000,97.720485,97.447650,535.750000,1071.500000,357.166667,586.322912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56074,77607,2.0,2.0,1362.0,127276.0,1996,6037,0.001082,1990,1.000000,63638.000000,63638.000000,93.447871,93.174231,681.000000,681.000000,340.500000,373.791483
56075,77608,3.0,2.0,1600.0,180715.0,1992,6037,-0.002245,1990,1.500000,60238.333333,90357.500000,112.946875,112.595016,533.333333,800.000000,320.000000,564.734375
56076,77609,4.0,3.0,1921.0,162019.0,1990,6037,0.020615,1990,1.333333,40504.750000,54006.333333,84.340968,84.034751,480.250000,640.333333,274.428571,590.386778
56077,77610,4.0,3.0,1780.0,125923.0,1989,6037,0.013209,1980,1.333333,31480.750000,41974.333333,70.743258,70.466144,445.000000,593.333333,254.285714,495.202809
56078,77611,3.0,2.0,1549.0,198988.0,1990,6037,0.037129,1990,1.500000,66329.333333,99494.000000,128.462234,128.048906,516.333333,774.500000,309.800000,642.311168

Here we aquire the prepped zillow data base. Here we aquire the correct column maes as sets. We will then take the subset which is our DF with the the minimum cols for an MVP

In [ ]:
cols=set(df.columns.to_list())
colsdropa={'id','yearbuilt', 'bathdividesbed',
 'beddividestaxval',
 'bathdividestaxval',
 'areadividestaxval',
 'bedbathbeyonddividestaxval',
 'beddividesarea',
 'bathdividesarea',
 'bathplusbathdividesarea',
 'bathplusbathdividesarea_dividestavval','logerror'}

minwithdecade=cols-colsdropa

colsdropb=colsdropa-{'yearbuilt'}
colsdropb.add('decade')
minwithyearsbuilt=cols-colsdropb
mvp={'bathroomcnt','bedroomcnt','area','taxvaluedollarcnt'}

print(f'''mvp:\n{mvp}\nminwithdecade:\n{minwithdecade}\nminwithyearsbuilt\n{minwithyearsbuilt} ''')

In the following step we simply reduce the prepped data frame into the MVP data . Then then split our data. If I get beyond an MVP I will go back and apply the split before to ensure we have the same data in train, validate and test.

Then I will run different models with varying and addional features to makes objectgive comparisons acrros the board.

In [ ]:
mvp_df=df[list(mvp)]



X_train, y_train, X_validate, y_validate, X_test, y_test=train_validate_test(mvp_df,target='taxvaluedollarcnt')

After the split we consider our baseline meterics comparing mean median and mode, we will use RMSE as our meteric to compare model performance. 
We also create two lists which will eventually be zipped together and create a dataframe to compare the models. The model with the lowest absolute difference from train to verfiy will be considered our best model and that model will be the only model we use our test data on.

In [ ]:
## Baseline


# make a list to store model rmse in
rmse_list=[]
model_name_list=[]

# We need y_train and y_validate to be dataframes to append the new columns with predicted values. 
y_train = pd.DataFrame(y_train)
y_validate = pd.DataFrame(y_validate)
## adding y_test to be used at the end
y_test = pd.DataFrame(y_test)

# 1. Predict taxvaluedollarcnt_pred_mean
taxvaluedollarcnt_pred_mean = y_train['taxvaluedollarcnt'].mean()
y_train['taxvaluedollarcnt_pred_mean'] = taxvaluedollarcnt_pred_mean
y_validate['taxvaluedollarcnt_pred_mean'] = taxvaluedollarcnt_pred_mean

# 2. compute taxvaluedollarcnt_pred_median
taxvaluedollarcnt_pred_median = y_train['taxvaluedollarcnt'].median()
y_train['taxvaluedollarcnt_pred_median'] = taxvaluedollarcnt_pred_median
y_validate['taxvaluedollarcnt_pred_median'] = taxvaluedollarcnt_pred_median

# 3. RMSE of taxvaluedollarcnt_pred_mean
rmse_train = mean_squared_error(y_train.taxvaluedollarcnt, y_train.taxvaluedollarcnt_pred_mean)**(1/2)
rmse_validate = mean_squared_error(y_validate.taxvaluedollarcnt, y_validate.taxvaluedollarcnt_pred_mean)**(1/2)

print(f'''RMSE using Mean\nTrain/In-Sample: {rmse_train:.4g}
      \nValidate/Out-of-Sample: \n {rmse_validate:.4g}\n\n''')
rmse_list.append([rmse_train,rmse_validate])
model_name_list.append('RMSE using Mean')

# 4. RMSE of taxvaluedollarcnt_pred_median
rmse_train = mean_squared_error(y_train.taxvaluedollarcnt, y_train.taxvaluedollarcnt_pred_median)**(1/2)
rmse_validate = mean_squared_error(y_validate.taxvaluedollarcnt, y_validate.taxvaluedollarcnt_pred_median)**(1/2)
# print(f'''RMSE using Median\nTrain/In-Sample: {rmse_train:.4g}
#       \nValidate/Out-of-Sample: \n {rmse_validate:.4g}\n\n''')

rmse_list.append([rmse_train,rmse_validate])
model_name_list.append('RMSE using Median')

In [ ]:

# 6. Compute taxvaluedollarcnt_pred_mode
taxvaluedollarcnt_pred_mode = y_train['taxvaluedollarcnt'].mode().values[0]
y_train['taxvaluedollarcnt_pred_mode'] = taxvaluedollarcnt_pred_mode
y_validate['taxvaluedollarcnt_pred_mode'] = taxvaluedollarcnt_pred_mode

# 7. RMSE of taxvaluedollarcnt_pred_mode

rmse_train = mean_squared_error(y_train.taxvaluedollarcnt, y_train.taxvaluedollarcnt_pred_median)**(1/2)
rmse_validate = mean_squared_error(y_validate.taxvaluedollarcnt, y_validate.taxvaluedollarcnt_pred_median)**(1/2)

rmse_list.append([rmse_train,rmse_validate])
model_name_list.append('RMSE using Mode')

In [ ]:
## RMSE for OLM 

# create the model object
lm = LinearRegression(normalize=True)

# fit the model to our training data. We must specify the column in y_train, 
# since we have converted it to a dataframe from a series! 
lm.fit(X_train, y_train.taxvaluedollarcnt)

# predict train
y_train['taxvaluedollarcnt_pred_lm'] = lm.predict(X_train)

# evaluate: rmse
rmse_train = mean_squared_error(y_train.taxvaluedollarcnt, y_train.taxvaluedollarcnt_pred_lm)**(1/2)

# predict validate
y_validate['taxvaluedollarcnt_pred_lm'] = lm.predict(X_validate)

# evaluate: rmse
rmse_validate = mean_squared_error(y_validate.taxvaluedollarcnt, y_validate.taxvaluedollarcnt_pred_lm)**(1/2)


# print(f'''RMSE for OLM \nTrain/In-Sample: {rmse_train:.4g}
#       \nValidate/Out-of-Sample: \n {rmse_validate:.4g}''')

rmse_list.append([rmse_train,rmse_validate])
model_name_list.append('RMSE for OLM ')

In [ ]:
##  RMSE for Lasso + Lars 


# create the model object
lars = LassoLars(alpha=1.0)

# fit the model to our training data. We must specify the column in y_train, 
# since we have converted it to a dataframe from a series! 
lars.fit(X_train, y_train.taxvaluedollarcnt)

# predict train
y_train['taxvaluedollarcnt_pred_lars'] = lars.predict(X_train)

# evaluate: rmse
rmse_train = mean_squared_error(y_train.taxvaluedollarcnt, y_train.taxvaluedollarcnt_pred_lars)**(1/2)

# predict validate
y_validate['taxvaluedollarcnt_pred_lars'] = lars.predict(X_validate)

# evaluate: rmse
rmse_validate = mean_squared_error(y_validate.taxvaluedollarcnt, y_validate.taxvaluedollarcnt_pred_lars)**(1/2)


# print(f'''RMSE for Lasso + Lars\nTraining/In-Sample: :  {rmse_train:.4g}
#  \nValidate/Out-of-Sample: \n {rmse_validate:.4g}''')

rmse_list.append([rmse_train,rmse_validate])
model_name_list.append('RMSE for Lasso + Lars ')

In [ ]:
## RMSE for Tweedie, power=1 & alpha=0

# create the model object
glm = TweedieRegressor(power=1, alpha=0)

# fit the model to our training data. We must specify the column in y_train, 
# since we have converted it to a dataframe from a series! 
glm.fit(X_train, y_train.taxvaluedollarcnt)

# predict train
y_train['taxvaluedollarcnt_pred_glm'] = glm.predict(X_train)

# evaluate: rmse
rmse_train = mean_squared_error(y_train.taxvaluedollarcnt, y_train.taxvaluedollarcnt_pred_glm)**(1/2)

# predict validate
y_validate['taxvaluedollarcnt_pred_glm'] = glm.predict(X_validate)

# evaluate: rmse
rmse_validate = mean_squared_error(y_validate.taxvaluedollarcnt, y_validate.taxvaluedollarcnt_pred_glm)**(1/2)


# print(f'''RMSE for GLM using Tweedie, power=1 & alpha=0\nTraining/In-Sample:  {rmse_train:.4g}
#       "\nValidate/Out-of-Sample: \n {rmse_validate:.4g}''')

rmse_list.append([rmse_train,rmse_validate])
model_name_list.append('RMSE for Tweedie, power=1 & alpha=0')

In [ ]:
## Prep for the 2nd degree Polynomial model

#  make the polynomial features to get a new set of features
pf = PolynomialFeatures(degree=2)

# fit and transform X_train_scaled
X_train_degree2 = pf.fit_transform(X_train)

# transform X_validate_scaled & X_test_scaled
X_validate_degree2 = pf.transform(X_validate)
X_test_degree2 = pf.transform(X_test)

In [ ]:
## RMSE for the 2nd Degree Polynomial Model 


# create the model object
lm2 = LinearRegression(normalize=True)

# fit the model to our training data. We must specify the column in y_train, 
# since we have converted it to a dataframe from a series! 
lm2.fit(X_train_degree2, y_train.taxvaluedollarcnt)

# predict train
y_train['taxvaluedollarcnt_pred_lm2'] = lm2.predict(X_train_degree2)

# evaluate: rmse
rmse_train = mean_squared_error(y_train.taxvaluedollarcnt, y_train.taxvaluedollarcnt_pred_lm2)**(1/2)

# predict validate
y_validate['taxvaluedollarcnt_pred_lm2'] = lm2.predict(X_validate_degree2)

# evaluate: rmse
rmse_validate = mean_squared_error(y_validate.taxvaluedollarcnt, y_validate.taxvaluedollarcnt_pred_lm2)**(1/2)

# print(f'''RMSE for Polynomial Model, degrees=2\nTraining/In-Sample: :  {rmse_train:.4g}
#  \nValidate/Out-of-Sample: \n {rmse_validate:.4g}''')

rmse_list.append([rmse_train,rmse_validate])
model_name_list.append('RMSE for Polynomial Model')

At this point we have trained and validated all our models. Now we will create the dataframe the models and their respective performance ranked by the minimum absolute difference of RSME beween train and validate.

In [ ]:
modelsresmedict=dict(zip(model_name_list,rmse_list))
rmseDF=pd.DataFrame(data=modelsresmedict,index=['Train','Validate'])
rmseDF=rmseDF.T
rmseDF['diff']=rmseDF.Train-rmseDF.Validate
rmseDF['abs_diff']=rmseDF['diff'].apply(abs)
rmseDF.sort_values(by=['abs_diff'],inplace=True)

rmseDF.applymap(lambda x:f'{x:.4g}')

Now we will show some visuilizations of the model's performance.

In [ ]:

plt.figure(figsize=(16,8))
plt.plot(y_validate.taxvaluedollarcnt, y_validate.taxvaluedollarcnt_pred_mean, alpha=.5, color="purple", label='_nolegend_')
plt.annotate("Baseline: Predict Using Mean", (16, 9.5))
plt.plot(y_validate.taxvaluedollarcnt, y_validate.taxvaluedollarcnt, alpha=.5, color="blue", label='_nolegend_')
plt.annotate("The Ideal Line: Predicted = Actual", (.5+3, 3.5+3), rotation=15.5)

plt.scatter(y_validate.taxvaluedollarcnt, y_validate.taxvaluedollarcnt_pred_lm, 
            alpha=.5, color="red", s=100, label="Model: LinearRegression")
plt.scatter(y_validate.taxvaluedollarcnt, y_validate.taxvaluedollarcnt_pred_glm, 
            alpha=.5, color="yellow", s=100, label="Model: TweedieRegressor")
plt.scatter(y_validate.taxvaluedollarcnt, y_validate.taxvaluedollarcnt_pred_lm2, 
            alpha=.5, color="green", s=100, label="Model 2nd degree Polynomial")
plt.legend()
plt.xlabel("Actual Tax Value")
plt.ylabel("Predicted Tax Value")
plt.title("Where are predictions more extreme? More modest?")
# plt.annotate("The polynomial model appears to overreact to noise", (2.0, -10))
# plt.annotate("The OLS model (LinearRegression)\n appears to be most consistent", (15.5, 3))
plt.show()

In [ ]:
plt.figure(figsize=(16,8))
plt.axhline(label="No Error")
plt.scatter(y_validate.taxvaluedollarcnt, y_validate.taxvaluedollarcnt_pred_lm-y_validate.taxvaluedollarcnt, 
            alpha=.5, color="red", s=100, label="Model: LinearRegression")
plt.scatter(y_validate.taxvaluedollarcnt, y_validate.taxvaluedollarcnt_pred_glm-y_validate.taxvaluedollarcnt, 
            alpha=.5, color="yellow", s=100, label="Model: TweedieRegressor")
plt.scatter(y_validate.taxvaluedollarcnt, y_validate.taxvaluedollarcnt_pred_lm2-y_validate.taxvaluedollarcnt, 
            alpha=.5, color="green", s=100, label="Model 2nd degree Polynomial")
plt.legend()
plt.xlabel("Actual Tax Value")
plt.ylabel("Residual/Error: Predicted Grade - Actual Grade")
plt.title("Do the size of errors change as the actual value changes?")
plt.annotate("The polynomial model appears to ...", (2.0, -10))
plt.annotate("The ... model (LinearRegression)\n appears to be most consistent", (15.5, 3))
plt.show()

In [ ]:
# plot to visualize actual vs predicted. 
plt.figure(figsize=(16,8))

plt.hist(y_validate.taxvaluedollarcnt_pred_lm, color='red', alpha=.5, label="Model: LinearRegression")

plt.hist(y_validate.taxvaluedollarcnt_pred_lm2, color='green', alpha=.5, label="Model 2nd degree Polynomial")
plt.hist(y_validate.taxvaluedollarcnt, color='white', alpha=.5, label="Actual Tax Values")
plt.hist(y_validate.taxvaluedollarcnt_pred_glm, color='blue', alpha=.5, label="Model: TweedieRegressor")
plt.xlabel("Taxes (taxvaluedollarcnt)")
plt.ylabel("Number Single Family Residences")
plt.title("Comparing the Distribution of Actual Tax Values to Distributions of Predicted Tax Values for the Top Models")
plt.legend()
plt.ylim(0,2750)
plt.show()